html{
    scroll-behavior: smooth;
  }
  
  body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
/*---- RESPONSIVE WEB DESIGN ----*/  
.wrapper{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.wrapper>*{
  padding: 10px;
  margin: -8px;
  flex: 1 100%;
}

.header {
  background: #555;
  height: 60px;
  position: relative;
  z-index: 1;
}

.content {
  padding: 16px;
}

.sticky {
  position: sticky;
  top: 0;

}

.sticky + .content {
  padding-top: 102px;
}

.header-image-left{
  float: left;
  height: 50px;
  width: 44px;
  padding-top: 4px;
  margin-left: -4px;
}

.header-image-right{
  height: 26px;
  width: 26px;
  padding-top: 6px;
}

.header-right{
  float: right;
  display: flex;
  align-items: center;
}

.header-right a{
  text-decoration: none;
  font-size: 18px;
  color: antiquewhite;
  font-weight: lighter;
  padding-left: 16px;
  margin-right: -6px;
  padding-top: 10px;
}

.section{
  scroll-margin-top: 70px;
}

.footer {
  background: #555;
  height: 80px;
  padding: 20px;
}

.main{
  text-align: justify;
  font-size: 24px;
  animation: 4s anim-lineUp ease-out;
}

.aside1{
  background: transparent;
}

.aside2{
  background: transparent;
}

@media all and (min-width: 800px){
  .main{
    flex: 3;
  }

  .aside1{
    order: 1;
  }

  .aside2{
    order: 2;
  }

  .main{
    order: 2;
  }

  .footer{
    order: 4;
  }
}

@media all and (min-width: 600px){
  .aside{
    flex: 1;
  }
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0%; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  background: 0%;
  --fade: 80px;
}

.footer-left{
  font-size: 20px;
  color: antiquewhite;
}
.images-footer{
  margin-top: 10px;
  height: 36px;
  width: 36px;
  padding-left: 4px;
}

/* ---------------------------------------------------------------------- WEBSITE TABLE ---------------------------------------------------------------------------- */

.website-photo{
  align-items: center;
  width: 220px;
  height: 280px;
  margin-right: 10px;
  animation: 8s anim-popoutin ease;
  padding: 20px;
}

@keyframes anim-popoutin {
  0% {
    color: black;
    transform: scale(0);
    opacity: 6;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  25% {
    color: rgb(0, 0, 0);
    transform: scale(0);
    opacity: 1;
    text-shadow: 1px 10px 5px rgba(0, 0, 0, 0.5);
  }
  50% {
    color: black;
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    /* animate nothing to add pause at the end of animation */
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
}

.website-intro{
  background-color: #555;
  border-radius: 2em;
  color: antiquewhite;
  padding: 10px;
  margin-top: 30px;
}

  .main video{
    width: 400px;
    height: auto;
    max-width: 100%;
    margin-left: -12px;
  }

  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
    }

    /* ---------------------------------------------------------------------- SLIDESHOW -------------------------------------------------------------------------------- */

  /* Slideshow container */
  .slideshow-container {
    position: relative;
    margin: auto;
  }
  
.slideshow-container img{
    max-width: 100%;
    height: auto;

    display: flex;
}

 /* Hide the images by default */
 .mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  margin-left: -41px;
  margin-right: -42px;
  padding: 16px;
  color: rgb(2, 2, 2);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: default;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 10px;
}
  
  .active{
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.section{
  scroll-margin-top: 70px;
}

